// iconfont
@font-face {
  font-family: "iconfont"; /* Project id 3207651 */
  src: url("//at.alicdn.com/t/font_3207651_abfc3beitrm.woff2?t=1645933420958")
      format("woff2"),
    url("//at.alicdn.com/t/font_3207651_abfc3beitrm.woff?t=1645933420958")
      format("woff"),
    url("//at.alicdn.com/t/font_3207651_abfc3beitrm.ttf?t=1645933420958")
      format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-github1:before {
  content: "\e689";
}

.icon-didian:before {
  content: "\e61a";
}
